body {
	color: white;
	background-color: black;
	font-family: 견고딕;
	font-size: 13pt;
}

caption { 
	color: sliver;
	font-size: 15pt;
	font-weight: bold;
}

.text-rainbow {
  background-image: linear-gradient(90deg, red, orange, yellow, green, blue, navy, purple);
  color: transparent;
  -webkit-background-clip: text;
 }

h1 {
	font-size: 30pt;
	color: white;
}

.shad {
	text-shadow: 4px 4px 4px gray;
}

#grad {
    background: linear-gradient(90deg, #8041D9, #D9418C);
    color: transparent;
    -webkit-background-clip: text;
}

